.App {
  text-align: center;
}


.EightBall{
  color: white;
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  border-radius: 100%;
  position: relative;
}

.EightBall-msg{
  text-align: center;
  position: relative;
  top: 45%;


}